QMainWindow
{
    background-color: #535353;
    color: white;
    font-family: SF Pro;
}

#centralwidget
{
    background-color: #535353;
}

QWidget
{
    background-color: #535353;
    color: #2a2a2a;
    font-family: SF Pro;
}

QGraphicsView
{
    border: 1px solid #424242;
}

QMenuBar
{
    background-color: #535353;
    color: #c0c0c0;
    padding: 2px;
}

QMenuBar::item
{
    padding: 5px 12px 5px 12px;
    color: #c7c7c7;
}

QMenuBar::item:selected
{
    background-color: #474747;
    border-radius: 5px;
    color: white;
}

QMenuBar::item:pressed
{
    background-color: #0664c3;
}

QMenu
{
    padding-top: 3px;
    background-color: #535353;
    border: 1px solid #5b5b5b;
}

QMenu::item
{
    padding: 5px 10px 5px 10px;
    min-width: 180px;
    color: white;
}

QMenu::item:selected
{
    background-color: #0664c3;
}

QMenu:separator
{
    background: #434343;
    height: 1px;
}

QToolBar
{
    background-color: #535353; /* Background color */
    border: 1px solid #434343; /* Border */
    padding: 1px; /* Padding */
}

QToolButton::menu-indicator {
    image: url('mp_software_stylesheets/assets/chevron_down.svg');
}

#customToolBar
{
    background-color: #535353;
    border: none;
}

QToolBar::handle:vertical
{
    image: url('mp_software_stylesheets/assets/toolbar-handle.svg');
}

QToolBar::handle:horizontal
{
    image: url('mp_software_stylesheets/assets/toolbar-handle-vertical.svg');
}

QToolBar::separator
{
    background-color: #4b4b4b; /* Background color of the separator */
    width: 1px; /* Width of the separator */
    height: 15px; /* Height of the separator */
}

QToolButton
{
    background-color: #535353; /* Background color of buttons */
    border: none; /* Button border */
    padding: 4px 8px; /* Button padding */
    margin: 2px; /* Button margin */
}

QToolButton:hover
{
    background: #3d3d3d;
    border-radius: 5px;
    border: 1px solid #515151;
}

QToolButton:checked
{
    background-color: #303030;
    border-radius: 5px; /* Button background color when checked */
}

QLabel
{
    color: #c7c7c7;
    background-color: transparent;
    font-family: SF Pro;
}

/* Line edits, spin boxes, combo boxes */
QLineEdit,
QSpinBox,
QDoubleSpinBox
{
    height: 21px;
    color: white;
    background-color: #454545;
    border: 2px solid #5f5f5f;
    border-radius: 3px;
}

QLineEdit:hover,
QDoubleSpinBox:hover,
QSpinBox:hover
{
    background-color: #454545;
}

QLineEdit:focus,
QDoubleSpinBox:focus,
QSpinBox:focus
{
    color: black;
    background-color: white;
    border: 2px solid #0078d7;
}

QComboBox
{
    color: white;
    background-color: #454545;
    border: 2px solid #5f5f5f;
    border-radius: 3px;
    padding: 2px 25px 2px 8px; /* Adjusted padding */
    min-width: 100px;
    height: 23px;
}

QComboBox::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px; /* Width of drop-down */
    border-left-width: 1px;
    border-left-color: #5f5f5f;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #454545;
    padding: 0px; /* Remove padding */
}

QComboBox::down-arrow
{
    image: url('mp_software_stylesheets/assets/down_arrow_combo.png');
    width: 20px; /* Adjust width to fit better */
    height: 27px; /* Adjust height to fit better */
    margin: 6px; /* Adjust margin to align center */
}

QComboBox::down-arrow:hover
{
    image: url('mp_software_stylesheets/assets/down_arrow_combo.png');
    background: #595959;
    margin: 6px; /* Adjust margin to align center */
}

QComboBox::down-arrow:on
{
    top: 1px;
    left: 1px;
    background: #2b2d30;
}

QComboBox QAbstractItemView
{
    color: white;
    background: #535353;
    selection-background-color: #606060;
}

QAbstractSpinBox::up-button
{
    image: url('mp_software_stylesheets/assets/up_arrow.png');
    background: #5f5f5f;
}

QAbstractSpinBox::down-button
{
    image: url('mp_software_stylesheets/assets/down_arrow.png');
    background: #5f5f5f;
}

QAbstractSpinBox::up-button:hover
{
    background: #595959;
}

QAbstractSpinBox::down-button:hover
{
    background: #595959;
}


/* Checkbox */
QCheckBox
{
    spacing: 5px; /* Spacing between the checkbox and text */
    color: #c7c7c7; /* Text color */
}

QCheckBox::indicator
{
    width: 15px;
    height: 15px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    background: transparent;
}

QCheckBox::indicator:hover
{
    width: 15px;
    height: 15px;
    border: 1px solid white;
    background: transparent;
}

QCheckBox::indicator:checked
{
    image: url('mp_software_stylesheets/assets/check.svg');
    background: #c2c2c2;
}

QCheckBox::indicator:checked:hover
{
    image: url('mp_software_stylesheets/assets/check.svg');
    background: white;
}

QCheckBox::indicator:indeterminate
{
    image: url('mp_software_stylesheets/assets/check.svg');
    background: #c2c2c2;
}

QCheckBox::indicator:indeterminate:hover
{
    image: url('mp_software_stylesheets/assets/check.svg');
    background: white;
}

/* Buttons for dialogs */
QPushButton
{
    background-color: #535353;
    height: 20px;
    padding-bottom: 1px;
    border-radius: 1px;
    border: 2px solid #747474;
    color: white;
}

QPushButton:hover
{
    background-color: #3b3b3b;
}

QPushButton:checked {
    color: #535353;
    background-color: #c2c2c2;
}

QPushButton:checked:hover
{
    background-color: #c7c7c7;
}

QDialogButtonBox QPushButton
{
    border: 2px solid white;
    border-radius: 12px;
    min-width: 100px;
    font-size: 15px;}

QDialogButtonBox QPushButton:hover
{
    background-color: #ffffff;
    color: #535353;
}

QDialogButtonBox QPushButton:default
{
    border: 2px solid #1473e6;
    border-radius: 12px;
    background-color: #1473e6;
    min-width: 100px;
    font-size: 15px;
}

QDialogButtonBox QPushButton:default:hover
{
    border: 2px solid #0d66d0;
    background-color: #0d66d0;
    color: white;
}

QGroupBox::title
{
    subcontrol-origin: margin;
    left: 10px;
    padding: 0 3px 0 3px;
    background-color: transparent;
    color: white;
}

QGroupBox
{
    border: 1px solid #434343;
    border-radius: 5px;
    margin-top: 0.5em;
}

/* Sliders and scrollbars */
QSlider
{
  border: None;
}

QSlider:horizontal
{
    height: 18px;
}

QSlider:vertical
{
    width: 18px;
}

QSlider::groove
{
    border: none;
    background: #747474;
}

QSlider::groove:horizontal
{
    height: 4px;
}

QSlider::groove:vertical
{
    width: 16px;
}

QSlider::handle
{
    background: #c7c7c7;
}

QSlider::handle:hover
{
    background: #ffffff;
}

QSlider::handle:horizontal
{
    height: 16px;
    width: 16px;
    margin: -6px 0;
    border-radius: 8px;
}

QSlider::handle:vertical
{
    height: 16px;
    width: 16px;
    margin: -6px 0;
    border-radius: 8px;
}

QScrollBar
{
    background: #4b4b4b;
    border: 2px solid #474747;
}

QScrollBar:horizontal
{
    height: 15px;
}

QScrollBar:vertical
{
    width: 20px;
}

QScrollBar::add-page,
QScrollBar::sub-page
{
    background: none;
}

QScrollBar::add-line,
QScrollBar::sub-line
{
    border: none;
    background: none;
}

QScrollBar::handle
{
    background: #5f5f5f;
    border-radius: 3px;
}

QScrollBar::handle:hover
{
    background: #747474;
}

/* Tabs and tab widgets */
QTabWidget
{
    border: 1px solid #2a2a2a;
}

QTabWidget::pane
{
    border: none;
}

QTabBar
{
    background-color: #424242;
    border: none; /* Remove any border that might be causing the gap */
}

QTabBar::tab
{
    background: #424242;
    padding: 8px;
    border-top: 1px solid #383838;
    border-right: 1px solid #383838;
    border-left: 1px solid #383838;
    margin: 0px; /* Ensure no margin that might cause the gap */
}

QTabBar::tab:vertical:right
{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QTabBar::tab:vertical:left
{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

QTabBar::tab:bottom,
QTabBar::tab:top
{
    color: #a0a0a0;
    min-width: 40px;
}

QTabBar::tab:left,
QTabBar::tab:right
{
    min-height: 60px;
    padding: 10px;
}

QTabBar::tab:hover
{
    background-color: #4f4f4f;
}

QTabBar::tab:selected
{
    color: white;
    font-weight: bold;
    background-color: #535353;
}

QTabBar::indicator
{
    width: 5px;
    height: 5px;
}

QTabBar::scroller
{
    width: 0px;
}

QTabBar::close-button
{
    image: url('mp_software_stylesheets/assets/close_icon.png');
}

QTabBar::close-button:hover
{
    background: #424242;
}

QTabBar::scroller:next, QTabBar::scroller:prev
{
    width: 0px;
}

/* Dockwidget, listwidget, toolbox */
QDockWidget
{
    background: #424242;
    color: white;
}

QListWidget
{
    background-color: #535353;
    border: none;
}

QListWidget::item
{
    color: white;
    background-color: #474747;
    padding: 10px;
    margin: 5px;
    border: 2px solid #535353;
    border-radius: 5px;
}

QListWidget::item:selected
{
}

QListWidget::item:hover
{
    border: 2px solid #636363;
}

QToolBox::tab
{
    background-color: #535353;
    font-weight: bold;
    color: #c0c0c0;
    border-radius: 3px;
    image: url('mp_software_stylesheets/assets/triangle-right.svg');
    image-position: left;
}

QToolBox::tab:selected
{
    image: url('mp_software_stylesheets/assets/triangle-down.svg');
}

QToolTip
{
    color: white;
    background: #535353;
    border: 2px solid #5b5b5b;
    border-radius: 5px;
    padding: 2px;
}

/* Custom widgets */
#modernLineEdit
{
    background: transparent;
    border: none;
    border-bottom: 2px solid #454545;
    padding: 5px;
    font-size: 16px;
}

#modernLineEdit:hover
{
    border-bottom: 2px solid #5a5a5a;
    border-radius: 0px;
}

#modernLineEdit:focus
{
    border-bottom: 2px solid #0078d7;
    color: white
}

#strokeLabel
{
    color: white;
    background-color: transparent;
    font-family: SF Pro;
    text-decoration: underline;
}

#dockWidgetTitleBar
{
    background: #424242;
}
