QWidget
{
    background-color: #1c1c1c;
    padding: 0px;
    font-family: "Segoe UI";
    color: white;
}

QMainWindow
{
    background-color: #1c1c1c;
    color: white;
}

QGraphicsView
{
    border: none;
}

QMenuBar
{
    background-color: #181818;
    color: #c0c0c0;
    padding: 2px;
}

QMenuBar::item
{
    padding: 5px 12px 5px 12px;
    color: #c7c7c7;
}

QMenuBar::item:selected
{
    background-color: #303030;
    border-radius: 5px;
    color: white;
}

QMenuBar::item:pressed
{
    background-color: #4772b3;
}

QMenu
{
    padding: 3px;
    background-color: #181818;
    border: 1px solid #181818;
    border-radius: 10px;
}

QMenu::item
{
    border: 2px solid transparent;
    border-radius: 5px;
    min-width: 180px;
    padding: 5px 10px 5px 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: transparent;
    color: #d3d3d3;
}

QMenu::item:hover
{
    background-color: #3f3f3f;
    color: #c2c2c2;
}

QMenu::item:selected
{
    background-color: #3f3f3f;
    color: white;
}

QMenu::item:disabled
{
    color: #7e7e7e;
}

QMenu QWidget
{
    background-color: transparent;
}

QMenu::icon
{
    padding: 1px;
    margin-right: 10px;
}

QMenu::indicator
{
    padding-left: 5px;
    image: url('mp_software_stylesheets/assets/checkbox_dehlt.svg');
}

QMenu::indicator:checked
{
    image: url('mp_software_stylesheets/assets/checkbox_hlt.svg');
}

QMenu:separator
{
    background: #2f2f2f;
    padding-left: 10px;
    padding-right: 10px;
    height: 1px;
}

QToolBar
{
    background-color: #343434;
    border: 1px solid transparent;
    border-radius: 0px;
    border-top-right-radius: 20px;
    padding: 3px;
}

QToolButton::menu-indicator {
    image: url('mp_software_stylesheets/assets/chevron_down.svg');
}

QToolBar::handle:vertical
{
    image: url('mp_software_stylesheets/assets/toolbar-handle.svg');
}

QToolBar::handle:horizontal
{
    image: url('mp_software_stylesheets/assets/toolbar-handle-vertical.svg');
}

QToolBar::separator
{
    background-color: #4b4b4b; /* Background color of the separator */
    width: 2px; /* Width of the separator */
    height: 15px; /* Height of the separator */
}

QToolButton
{
    background-color: #343434;
    border-radius: 5px;
    border: none;
    padding: 4px 8px;
    margin: 2px;
}

QToolButton:hover
{
    background: #404040;
    border-radius: 5px;
}

QToolButton:checked
{
    background-color: #4772b3;
    border-radius: 5px; /* Button background color when checked */
}

QLabel
{
    color: #c2c2c2;
    background-color: transparent;
    font-family: "Segoe UI";
}

/* Line edits, spin boxes, combo boxes */
QLineEdit,
QSpinBox,
QDoubleSpinBox
{
    background-color: #545454;
    selection-background-color: #4772b3;
    font-size: 13px;
    color: #dfdfdf;
    border: none;
    border-radius: 3px;
    height: 22px;
}

QLineEdit:hover,
QDoubleSpinBox:hover,
QSpinBox:hover
{
    color: white;
    background-color: #797979;
}

QLineEdit:focus,
QDoubleSpinBox:focus,
QSpinBox:focus
{
    color: white;
    background-color: #333333;
}

QPlainTextEdit,
QTextEdit
{
    background-color: #181818;
    border-radius: 5px;
}

QAbstractSpinBox::up-button
{
    image: url('mp_software_stylesheets/assets/up_arrow.png');
    background: #545454;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

QAbstractSpinBox::down-button
{
    image: url('mp_software_stylesheets/assets/down_arrow.png');
    background: #545454;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

QAbstractSpinBox::up-button:hover
{
    background: #656565;
}

QAbstractSpinBox::down-button:hover
{
    background: #656565;
}

QAbstractSpinBox QLineEdit
{
    text-align: center;
}

QComboBox
{
    color: #dfdfdf;
    background-color: #303030;
    selection-background-color: #4772b3;
    border: 2px solid #3d3d3d;
    border-radius: 6px;
    padding: 2px 25px 2px 8px;
    min-width: 75px;
    height: 20px;
    font-size: 13px;
}

QComboBox:on
{
    background-color: #4772b3;
}

QComboBox::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    border: none;
    padding: 0px;
}

QComboBox:hover
{
    border-color: #464646;
    color: white;
}

QComboBox::down-arrow
{
    right: 3.3;
    image: url('mp_software_stylesheets/assets/down_arrow_combo.png');
    width: 25px;
    height: 27px;
    margin: 6px;
}

QComboBox QAbstractItemView
{
    color: white;
    background: #181818;
    selection-background-color: #4772b3;
}


QProgressBar
{
    background-color: #3d3d3d;
    border: 2px solid #747474;
    border-radius: 6px;
    height: 20px;
    text-align: center;
    color: #ffffff;
}

QProgressBar::chunk
{
    background-color: #4772b3;
    border-radius: 4px;
}

/* Checkbox */
QCheckBox
{
    spacing: 5px; /* Spacing between the checkbox and text */
    background-color: transparent;
    color: #c7c7c7; /* Text color */
}

QCheckBox::indicator
{
    border-radius: 3px;
    border: 1px solid #505050;
    background: #505050;
    width: 15px;
    height: 15px;
}

QCheckBox::indicator:hover
{
    width: 15px;
    height: 15px;
    border: 1px solid #656565;
    background: #656565;
}

QCheckBox::indicator:checked
{
    image: url('mp_software_stylesheets/assets/check.svg');
    background: #4772b3;
    border-color: #4772b3;
}

QCheckBox::indicator:checked:hover
{
    image: url('mp_software_stylesheets/assets/check.svg');
    background: #4772b3;
}

QCheckBox::indicator:indeterminate
{
    image: url('mp_software_stylesheets/assets/check.svg');
    background: #c2c2c2;
}

QCheckBox::indicator:indeterminate:hover
{
    image: url('mp_software_stylesheets/assets/check.svg');
    background: white;
}

/* Buttons for dialogs */
QPushButton
{
    border: none;
    border-radius: 4px;
    background-color: #656565;
    font-size: 15px;
    color: #d2d2d2;
    min-height: 25px;
}

QPushButton:hover
{
    background-color: #707070;
    color: white;
}

QPushButton:checked {
    color: white;
    background-color: #4772b3;
}

QPushButton:checked:hover
{
    background-color: #628bca;
}

QDialog
{
    background-color: #202020;
}

QMessageBox
{
    background-color: #181818;
}

QDialogButtonBox QPushButton
{
    border: none;
    border-radius: 4px;
    min-width: 120px;
    min-height: 25px;
    font-size: 15px;
    color: #d2d2d2;
}

QDialogButtonBox QPushButton:hover
{
    background-color: #656565;
    color: white;
}

QDialogButtonBox QPushButton:default
{
    background-color: #4772b3;
    color: white;
}

QDialogButtonBox QPushButton:default:hover
{
    background-color: #628bca;
}

QGroupBox::title
{
    subcontrol-origin: margin;
    left: 2px;
    bottom: 5px;
    padding: 1px;
    background-color: transparent;
    color: #c2c2c2;
}

QGroupBox
{
    border: 1px solid #707070;
    border-radius: 5px;
    margin-top: 15px;
}

/* Sliders and scrollbars */
QSlider
{
    border: None;
    background: transparent;
}

QSlider:horizontal
{
    height: 18px;
}

QSlider:vertical
{
    width: 18px;
}

QSlider::groove
{
    border: none;
    background: #747474;
}

QSlider::groove:horizontal
{
    height: 4px;
}

QSlider::groove:vertical
{
    width: 16px;
}

QSlider::handle
{
    background: #c7c7c7;
}

QSlider::handle:hover
{
    background: #ffffff;
}

QSlider::handle:horizontal
{
    height: 16px;
    width: 16px;
    margin: -6px 0;
    border-radius: 8px;
}

QSlider::handle:vertical
{
    height: 16px;
    width: 16px;
    margin: -6px 0;
    border-radius: 8px;
}

QFrame::handle
{
    border-left: 2px solid #505050;
}

QScrollBar
{
    background: transparent;
    border: none;
}

QScrollBar:horizontal
{
    height: 15px;
    margin-top: 5px;
}

QScrollBar:vertical
{
    width: 15px;
    margin-left: 5px;
}

QScrollBar::add-page,
QScrollBar::sub-page
{
    background: none;
}

QScrollBar::add-line,
QScrollBar::sub-line
{
    border: none;
    background: none;
}

QScrollBar::handle
{
    background: #656565;
    border-radius: 5px;
}

QScrollBar::handle:vertical
{
    min-height: 50px;
}

QScrollBar::handle:horizontal
{
    min-width: 50px;
}

QScrollBar::handle:hover
{
    background: #707070;
}

/* Tabs and tab widgets */
QTabWidget
{
    border: none;
}

QTabWidget::pane
{
    border: none;
    background: transparent;
}

QTabBar
{
    background-color: transparent;
    border: none;
    qproperty-drawBase: 0;
}

QTabBar::tab
{
    background-color: transparent;
    padding: 10px;
    color: #c2c2c2;
    font-family: "JetBrains Mono";
    font-size: 14px;
}

QTabBar::tab:hover
{
    background-color: #222222;
    color: white;
}

QTabBar::tab:selected
{
    background-color: #2a2a2a;
    color: white;
}

QTabBar::close-button {
    image: url("mp_software_stylesheets/assets/close-button-qdockwidget.svg");
    subcontrol-origin: padding;
    subcontrol-position: right;
    border-radius: 2px;
    padding: 1px;
    width: 10px;
    height: 10px;
}

QTabBar::close-button:hover {
    background-color: #c94e4e;
}

QTableWidget
{
    background-color: #ffffff;
    color: #000000;
}

QHeaderView::section
{
    background-color: #f0f0f0;
    color: #000000;
    font-weight: bold;
    border: 1px solid #d3d3d3;
}


/* Dockwidget, listwidget, toolbox */
QDockWidget
{
    background: #303030;
    border-radius: 5px;
    color: white;
}

QListWidget
{
    background-color: #121212;
    border: none;
    border-radius: 5px;
    font-family: 'JetBrains Mono';
}

QListWidget::item
{
    color: white;
    background-color: transparent;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}

QListWidget::item:hover
{
    background: #3f3f3f;
}

QListWidget::item:selected
{
    background: #4772b3;
}

QListWidget::item:selected:hover
{
    background: #628bca;
}

QToolBox
{
    background-color: #303030;
    padding: 10px 10px 10px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

QToolBox::tab
{
    background-color: #3d3d3d;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
    font-weight: bold;
    color: #c2c2c2;
    image: url('mp_software_stylesheets/assets/triangle-right.svg');
    image-position: left;
}

QToolBox::tab:hover
{
    background-color: #606060;
    color: white;
}

QToolBox::tab:selected
{
    image: url('mp_software_stylesheets/assets/triangle-down.svg');
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

QToolTip
{
    background-color: #303030;
    color: white;
    border: 1px solid #606060;
    font-family: "Segoe UI";
    padding: 1px;
}

/* Custom widgets */
#searchBar
{
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

#searchBarButton
{
    background-color: transparent;
    font-family: "Segoe UI";
    font-size: 25px;
    width: 20px;
    height: 20px;
}

#listWidget
{
    background-color: transparent;
    border: none;
}

#listWidget QWidget
{
    background-color: transparent;
    border: none;
}

#listWidget::item
{
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 0px 5px 0px;
    background-color: #3f3f3f;
    color: white;
}

#listWidget::item:hover
{
    background-color: #3f3f3f;
}

#listWidget::item:selected
{
    background-color: #3f3f3f;
}

#listWidget::item:selected:hover
{
    background-color: #3f3f3f;
}

#fileBrowser
{
    background-color: #525252;
    border: none;
}

#fileBrowser QTreeView
{
    background-color: #525252;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-family: "JetBrains Mono";
    font-size: 15px;
    color: #ffffff;
}

#fileBrowser QLabel
{
    font-family: "JetBrains Mono";
    font-size: 14px;
}

#actionButton
{
    background-color: transparent;
    font-family: "Segoe UI";
    font-size: 18px;
    width: 20px;
    height: 20px;
}

#actionButton:hover
{
    background-color: #707070;
}